version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
    container_name: angular-frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    container_name: spring-backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgrescloud.c5w0mikaakk6.us-east-1.rds.amazonaws.com:5432/clouddb
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    network_mode: host
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"